.a1ttk6s5{@apply flex;}@screen phone{.a1ttk6s5{@apply flex-col;}}
.i1x85nz5{background-image:var(--i1x85nz5-0);@apply relative bg-cover;min-height:280px;width:270px;margin-inline-end:40px;}@screen phone{.i1x85nz5{width:100%;margin-inline-end:0px;}}
.i3swzq6{@apply absolute bottom-0 w-full p-5 bg-white z-10 flex justify-center items-center bg-opacity-75 text-lg;}.i3swzq6 > *{@apply mx-3 text-blue-500;}
.d1dmmt78{@apply flex-1;}
.n191ffkw{@apply font-semibold text-2xl mb-3;}
.d4136ls{@apply flex items-center text-blue-500 py-3 px-2 mb-1 flex-shrink-0;}.d4136ls:nth-child(2n){@apply bg-gray-200;}
.d9mz371{@apply text-black;margin-inline-start:10px;}
