/* purgecss start ignore */
@tailwind base;
@font-face {
  font-family: Vazir;
  src: url("/fonts/vazir/Vazir-WOL.eot");
  src: url("/fonts/vazir/Vazir-WOL.eot?#iefix") format("Vazir-opentype"),
    url("/fonts/vazir/Vazir-WOL.woff") format("woff"),
    url("/fonts/vazir/Vazir-WOL.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
@tailwind components;
/* purgecss end ignore */
@tailwind utilities;

.leaflet-container {
  height: 100%;
  width: 100%;
  z-index: 10;
}

body {
  @apply font-vazir;
}

.image-gallery-slides {
  height: 82vh;
}
/*.image-gallery-thumbnails-wrapper {
  bottom: 110px;
  height: 0;
}
.image-gallery-thumbnail {
  width: 110px;
  height: 90px;
  background: white !important;
  opacity: 0.6;
}
.image-gallery-thumbnail:hover {
  border-color: white !important ;
}
.image-gallery-thumbnail.active {
  opacity: 1;
  border-color: white !important ;
}
.image-gallery-thumbnail-inner {
  width: 100%;
  height: 100%;
}
.image-gallery-thumbnail-image {
  height: 100%;
} */
.rdw-editor-main {
  overflow: hidden !important;
}
:root {
  --gray-light: #ececed;
  --gray-accent: #e9e9ea;
}

.block {
  display: block;
  margin: 1rem;
  padding: 1rem;
  border: 1px solid var(--gray-light);
  border-radius: 0.125rem;
  background: white;
  height: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
}
.block-1-2 {
  width: calc(50% - 20px);
  @media only screen and (max-width: 37.5em) {
    width: 100% !important;
  }
}
.block-1-3 {
  width: calc(33.333333% - 20px);
  @media only screen and (max-width: 37.5em) {
    width: 100% !important;
  }
}

/* Shared placeholder styles. */
.block--loading::before,
.block--loading::after {
  content: "";
  display: block;
  background-image: linear-gradient(
    110deg,
    var(--gray-light) 73%,
    var(--gray-accent) 75%,
    var(--gray-light) 77%,
    var(--gray-light) 78%,
    var(--gray-accent) 84%,
    var(--gray-accent) 88%,
    var(--gray-light) 94%,
    var(--gray-light) 100%
  );
  background-size: 200% 100%;
  background-position: 0 center;
  border-radius: inherit;
  animation: 2s ease-in-out loading infinite;
}

/* Image placeholder. */
.block--loading::before {
  width: 100%;
  height: 200px;
}

/* Text placeholder. */
.block--loading::after {
  animation-delay: 50ms;
  width: 92%;
  height: 1rem;
  margin-top: 0.75rem;
}

.block__image {
  border-radius: inherit;
  max-width: 100%;
}

.block__content {
  margin: 0.5rem 0 0;
  line-height: 1;
}

@keyframes loading {
  0% {
    background-position-x: 0;
  }
  40%,
  100% {
    background-position-x: -200%;
  }
}

@keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@-webkit-keyframes fadeInUp {
  from {
    transform: translate3d(0, 40px, 0);
  }

  to {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

.animated {
  animation-duration: 1s;
  animation-fill-mode: both;
  -webkit-animation-duration: 1s;
  -webkit-animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0;
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}

/* faq -  skeleton */

.movie--isloading {
  height: 60px;
  width: calc(50% - 10px);
  border-radius: 4px;
  overflow: hidden;
  margin-bottom: 10px;
  background: red;
  margin-inline-end: 10px;
}

.movie--isloading .loading-image {
  width: 100%;
  height: 100%;
  background-image: -webkit-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: -o-linear-gradient(
    left,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-image: linear-gradient(
    90deg,
    #ececec 0px,
    #f4f4f4 40px,
    #ececec 80px
  );
  background-size: 60px;
  -webkit-animation: shine-loading-image 2s infinite ease-out;
  animation: shine-loading-image 2s infinite ease-out;
}

@-webkit-keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 10%;
  }
}

@keyframes shine-loading-image {
  0% {
    background-position: -32px;
  }
  40%,
  100% {
    background-position: 10%;
  }
}

/* circle spinner */
.circeSpinnerLoader {
  border-radius: 50%;
  -webkit-animation: spin 1s linear infinite; /* Safari */
  animation: spin 1s linear infinite;
  margin: 0 auto;
}
.smallCircleSpinner {
  border-width: 3px;
  border-style: solid;
  width: 20px !important;
  height: 20px;
}
.mediumCircleSpinner {
  border-width: 5px;
  border-style: solid;
  width: 30px;
  height: 30px;
}
.largeCircleSpinner {
  border-width: 5px;
  border-style: solid;
  width: 45px;
  height: 45px;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@media only screen and (max-width: 37.5em) {
  
}
