.s1w8obuo{@apply bg-white;}
.c1rpik40{@apply flex max-w-6xl m-auto py-10;}@screen tab-land{.c1rpik40{@apply px-5;}}@screen phone{.c1rpik40{@apply flex-col py-5;}}
.l1ht8xij{width:80px;height:80px;margin-inline-end:10px;box-shadow:0 0 5px lightgray;border-radius:5px;padding:5px;}@screen phone{.l1ht8xij{width:60px;height:60px;}}
.l1rxh6dq{width:100%;height:100%;}
.lrt5qi{@apply flex-1 flex items-center;}
.pbgx049{@apply flex-1;}
.r1h32ci5{@apply flex items-center flex-col;}
.n12xc9m5{@apply font-semibold text-4xl;}@screen phone{.n12xc9m5{@apply text-lg;}}
.lz2it1g{@apply flex h-10 items-center text-sm;}@screen phone{.lz2it1g{@apply mt-4;}}
.aukerxb{@apply flex items-center;}@screen phone{.aukerxb{@apply items-start mt-5;}}
.byomv0{@apply font-semibold border-dashed border border-gray-500 mx-3 flex items-center justify-center px-4 rounded cursor-pointer;min-width:60px;min-height:40px;}
.w78yx9o{@apply text-lg text-blue-400 relative w-full mt-5;}
.l1cgmwu2{@apply absolute left-0 mx-3;}
