.l1hfdj53{@apply bg-white w-full p-8 overflow-hidden shadow rounded;width:var(--l1hfdj53-0);height:var(--l1hfdj53-1);margin-bottom:35px;}.l1hfdj53 .leaflet-container{height:85%;}
.h11u9pw1{@apply flex items-start;}
.t1c978d0{@apply flex-1 font-semibold text-2xl mb-6;}
